@import "tailwindcss";

/* 确保 html, body, #app 占满屏幕 */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* 去掉列表默认样式 */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 图片自适应容器 */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 表单元素继承字体 */
input, button, textarea, select {
  font: inherit;
}

/* a 标签默认样式 */
a {
  color: inherit;
  text-decoration: none;
}

/* 去掉按钮点击时的默认边框 */
button {
  /*border: none;*/
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(249, 115, 22, 0.4);
  border-radius: 4px;
  backdrop-filter: blur(4px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 115, 22, 0.7);
}

